<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:theme="@style/AppTheme"
        android:allowBackup="true"
        android:supportsRtl="true"
        tools:replace="android:theme,android:supportsRtl,android:allowBackup">


        <activity android:name="com.example.demo.MainActivity2"/>

    </application>

</manifest>